<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wp-ultra/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wp-ultra/index.php [L]
</IfModule>

